@-webkit-keyframes rotating {
  to {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes rotating {
  to {
    transform: rotate(360deg);
  }
}
@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/notosans/v36/o-0mIpQlx3QUlC5A4PNB6Ryti20_6n1iPHjcz6L1SoM-jCpoiyD9A99d.ttf)
    format("truetype");
}
@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 500;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/notosans/v36/o-0mIpQlx3QUlC5A4PNB6Ryti20_6n1iPHjcz6L1SoM-jCpoiyDPA99d.ttf)
    format("truetype");
}
@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 600;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/notosans/v36/o-0mIpQlx3QUlC5A4PNB6Ryti20_6n1iPHjcz6L1SoM-jCpoiyAjBN9d.ttf)
    format("truetype");
}
@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/notosans/v36/o-0mIpQlx3QUlC5A4PNB6Ryti20_6n1iPHjcz6L1SoM-jCpoiyAaBN9d.ttf)
    format("truetype");
}
.social-bg-fb {
  background-color: #4867aa;
  border-color: #4867aa;
}
.social-bg-fb:hover {
  background-color: #5574b7;
  border-color: #5574b7;
}
.social-bg-fb.active,
.social-bg-fb:active,
.social-bg-fb:focus {
  background-color: #405c98;
  border-color: #405c98;
}
.social-bg-fb.active,
.social-bg-fb:active {
  background-color: #3d5891;
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1);
}
.social-bg-vk {
  background-color: #4c75a3;
  border-color: #4c75a3;
}
.social-bg-vk:hover {
  background-color: #5882b1;
  border-color: #5882b1;
}
.social-bg-vk.active,
.social-bg-vk:active,
.social-bg-vk:focus {
  background-color: #446992;
  border-color: #446992;
}
.social-bg-vk.active,
.social-bg-vk:active {
  background-color: #41648b;
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1);
}
.social-bg-tw {
  background-color: #00abf0;
  border-color: #00abf0;
}
.social-bg-tw:hover {
  background-color: #0bb9ff;
  border-color: #0bb9ff;
}
.social-bg-tw.active,
.social-bg-tw:active,
.social-bg-tw:focus {
  background-color: #0099d7;
  border-color: #0099d7;
}
.social-bg-tw.active,
.social-bg-tw:active {
  background-color: #0092cc;
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1);
}
.social-bg-gp {
  background-color: #dc493c;
  border-color: #dc493c;
}
.social-bg-gp:hover {
  background-color: #e05d52;
  border-color: #e05d52;
}
.social-bg-gp.active,
.social-bg-gp:active,
.social-bg-gp:focus {
  background-color: #d83527;
  border-color: #d83527;
}
.social-bg-gp.active,
.social-bg-gp:active {
  background-color: #cf3325;
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1);
}
.color-fb {
  color: #4867aa;
}
.color-tw {
  color: #00abf0;
}
.color-vk {
  color: #4c75a3;
}
.color-gp {
  color: #dc493c;
}
.clear {
  zoom: 1;
}
.clear:after,
.clear:before {
  content: "";
  display: table;
}
.clear:after {
  clear: both;
}
.anim {
  transition: all 90ms ease-in-out 45ms;
}
.flip-horizontal {
  display: inline-block;
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
  -ms-filter: fliph;
  filter: fliph;
}
.bold {
  font-weight: 700;
}
.not-bold {
  font-weight: 400;
}
.color-accent {
  color: #0de59b;
}
.color-light {
  color: #b9b4ea;
}
.badge-status {
  width: 10px;
  height: 10px;
  padding: 0;
  margin-right: 2px;
  background-color: #b0b0b0;
  box-shadow: 0 0 0 1px #fff;
  margin-top: -2px;
}
.strip-text {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: inline-block;
}
.textlogo {
  font-weight: 200;
  letter-spacing: 0.08em;
}
* {
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  font-size: 14px;
}
*,
body {
  margin: 0;
}
body {
  background-color: #fff;
  position: relative;
  font-family: "Noto Sans", Arial, sans-serif;
  width: 460px;
}
.custom {
  margin-bottom: 16px;
}
.custom-checkbox.checkbox > label,
.custom-radio.radio > label {
  position: relative;
  cursor: pointer;
  padding-left: 28px;
}
.custom-checkbox input[type="checkbox"],
.custom-radio input[type="radio"] {
  position: relative;
  margin-left: -23px;
  margin-right: 10px;
  cursor: pointer;
  outline: 0 !important;
}
.custom-checkbox input[type="checkbox"]:after {
  top: -4.5px;
}
.custom-checkbox input[type="checkbox"]:after,
.custom-radio input[type="radio"]:after {
  content: "";
  position: absolute;
  left: -3px;
  width: 18px;
  height: 18px;
  background: #fff;
  border: 2px solid #dad9e8;
  cursor: pointer;
}
.custom-checkbox input[type="checkbox"][disabled],
.custom-radio input[type="radio"][disabled] {
  opacity: 0.7;
}
.custom-checkbox input[type="checkbox"]:before {
  transition: transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
  transform: rotate(-45deg) scale(0, 0);
  content: "";
  position: absolute;
  left: -0.5px;
  z-index: 1;
  width: 11.7px;
  height: 6.75px;
  border: 2px solid #8178d9;
  background: #fff;
  border-top-style: none;
  border-right-style: none;
}
.custom-checkbox input[type="checkbox"]:checked:before {
  transform: rotate(-45deg) scale(1, 1);
  background: #8178d9;
  border-color: #fff;
}
.custom-checkbox input[type="checkbox"]:checked:after {
  background: #8178d9;
  border-color: #8178d9;
}
.custom-checkbox input[type="checkbox"]:checked[disabled] {
  opacity: 0.6;
}
.custom-checkbox input[type="checkbox"]:after {
  border-radius: 2px;
}
.custom-checkbox.bare {
  margin-top: 0;
}
.custom-checkbox.bare,
.custom-checkbox.bare > label {
  padding-left: 0;
  margin-bottom: 0;
}
.custom-checkbox.bare input[type="checkbox"] {
  margin-left: 0;
  margin-right: 0;
  left: 7px;
}
.custom-checkbox.checkbox-indeterminate
  input[type="checkbox"]:not(:checked):before,
.selected-mode
  thead
  .custom-checkbox
  input[type="checkbox"]:not(:checked):before {
  border: 0;
  width: 10px;
  height: 2px;
  border-radius: 2px;
  background-color: #8178d9;
  margin: 4px 1px;
  display: block;
  position: relative;
  transform: scale(1, 1);
}
.custom-checkbox.checkbox-indeterminate
  input[type="checkbox"]:not(:checked):after,
.selected-mode
  thead
  .custom-checkbox
  input[type="checkbox"]:not(:checked):after {
  background: #fff;
  border-color: #8178d9;
}
.custom-radio input[type="radio"] {
  top: -2px;
}
.custom-radio input[type="radio"]:before {
  transition: transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
  transform: scale(0, 0);
  content: "";
  position: absolute;
  top: 1px;
  left: 0;
  z-index: 1;
  width: 10.8px;
  height: 10.8px;
  background: #8178d9;
  border-radius: 50%;
}
.custom-radio input[type="radio"]:checked:before {
  transform: scale(1, 1);
}
.custom-radio input[type="radio"]:after {
  border-radius: 50%;
  top: -2.5px;
}
.credits-bar {
  position: relative;
  margin-bottom: 20px;
  margin-left: 24px;
  margin-right: 24px;
}
.credits-bar__back {
  background-color: #f2f2f2;
  width: 100%;
  height: 8px;
  border-radius: 4px;
}
.credits-bar__progress {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 8px;
  border-radius: 4px;
  background: linear-gradient(90deg, #3cc51a 0, #5dd93e 100%);
  box-shadow: 0 2px 4px rgba(91, 197, 26, 0.4);
  color: #fff;
  text-align: center;
  font-size: 10px;
  line-height: 12px;
  text-shadow: 0 0 6px #000;
  overflow: hidden;
  width: 0;
  max-width: 100%;
  transition: width 2s;
}
.credits-bar__progress--error {
  background: linear-gradient(90deg, #f22e46 0, #f9586c 100%);
  box-shadow: 0 2px 4px rgba(242, 46, 70, 0.4);
}
.credits-bar__progress.hidden + .credits-bar__used,
.pfe-checkbox input[type="checkbox"] {
  display: none;
}
.credits-bar__used,
.pfe-button {
  text-align: center;
  white-space: nowrap;
}
.credits-bar__used {
  position: absolute;
  background: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  min-width: 140px;
  left: 50%;
  top: 9px;
  padding: 6px 5px;
  z-index: 1;
  opacity: 0;
  transition: all 0.15s;
  font-size: 12px;
  line-height: 14px;
  font-weight: 500;
  visibility: hidden;
  transform: translateX(-50%);
}
.credits-bar:hover .credits-bar__used {
  visibility: visible;
  opacity: 1;
}
.pfe-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 19px;
  padding: 11px 22px 12px;
  min-width: 100px;
  border-radius: 8px;
  color: #fff;
  font-weight: 700;
  outline: 0;
  border: 0;
  flex-shrink: 0;
  transition: background-color 0.15s;
  background: #7d62ec;
  cursor: pointer;
}
.pfe-button:disabled {
  opacity: 0.5;
  color: #fff;
  background-color: #7d62ec;
  box-shadow: none;
  cursor: not-allowed;
}
.pfe-button:disabled:hover {
  background: #fbfbfe;
  box-shadow: none;
  color: #909090;
  text-decoration: none;
}
.pfe-button--primary {
  background: #7d62ec;
  box-shadow: 0 2px 8px rgba(117, 93, 223, 0.4);
}
.pfe-button--primary:hover,
.pfe-button--secondary:hover {
  background: #946fff;
  box-shadow: 0 2px 8px rgba(117, 93, 223, 0.6);
  color: #fff;
  text-decoration: none;
}
.pfe-button--secondary {
  background: #7d63ec;
  box-shadow: 0 2px 8px rgba(117, 93, 223, 0.4);
}
.pfe-button--thirdy {
  background: #59c53e;
  box-shadow: 0 2px 8px rgba(177, 170, 207, 0.4);
  border-radius: 8px;
}
.pfe-button--thirdy:hover {
  background: #65db47;
  box-shadow: 0 2px 8px rgba(177, 170, 207, 0.6);
  color: #fff;
  text-decoration: none;
}
.pfe-button--small {
  padding: 5px 12px 7px 10px;
  line-height: 13px;
  min-width: 85px;
}
.pfe-button--small span {
  font-size: 13px;
  line-height: 1;
}
.pfe-button--with-icon {
  padding: 9px 14px 9px 22px;
}
.pfe-button--with-icon img {
  margin-left: 8px;
}
.pfe-button--with-icon-start {
  padding: 9px 22px 9px 14px;
}
.pfe-button--with-icon-start img {
  margin-right: 8px;
}
.pfe-button .icon {
  margin-right: 8px;
  display: block;
  position: relative;
}
.pfe-button .icon--up {
  top: -2px;
}
.pfe-button--mr-8 {
  margin-right: 8px !important;
}
.pfe-title {
  font-size: 16px;
  line-height: 1;
  font-weight: 700;
  color: #263238;
  margin-bottom: 10px;
  margin-top: 15px;
}
.pfe-title.mt-0 {
  margin-top: 0;
}
.pfe-description,
.pfe-link {
  font-size: 13px;
  line-height: 1.5;
}
.pfe-description {
  font-weight: 400;
  margin-bottom: 15px;
}
.pfe-description .pfe-link {
  display: inline;
  font-weight: 500;
}
.pfe-link {
  color: #755ddf;
  display: inline-block;
}
.pfe-link--youtube:before {
  content: "";
  display: inline-block;
  height: 20px;
  width: 28px;
  background: url(../img/svg/youtube.svg) center no-repeat;
  background-size: auto 20px;
  margin-right: 10px;
  vertical-align: middle;
}
.pfe-checkbox {
  display: flex;
  align-items: center;
  font-size: 13px;
  line-height: 1;
  font-weight: 400;
  margin-bottom: 0;
  cursor: pointer;
}
.pfe-checkbox.with-mb {
  margin-bottom: 12px;
}
.pfe-checkbox--select-all {
  margin-top: 20px;
  margin-bottom: 20px;
}
.pfe-checkbox input[type="checkbox"]:checked + span {
  background: #7d63ec url(../img/svg/check-white.svg) center no-repeat;
  border-color: #7d63ec;
}
.pfe-checkbox input[type="checkbox"] + #not-all {
  background: #fff url(../img/svg/rectangle.svg) center no-repeat;
  border-color: #c7cad1;
}
.pfe-checkbox input[type="checkbox"] + span {
  display: block;
  width: 16px;
  height: 16px;
  min-width: 16px;
  background: #fff;
  border: 1px solid #c7cad1;
  border-radius: 2px;
  margin-right: 10px;
}
.pfe-checkbox.static-text {
  align-items: flex-start;
  margin-bottom: 10px;
}
.pfe-checkbox.static-text span {
  line-height: 1.5;
}
.pfe-back:before,
.pfe-checkbox.static-text input[type="checkbox"] + span {
  position: relative;
  top: 2px;
}
.pfe-back {
  font-size: 12px;
  line-height: 14px;
  font-weight: 500;
  color: #4f5456;
  background-color: #f6f8fd;
  border-radius: 3px;
  padding: 7px 10px;
  display: inline-flex;
  cursor: pointer;
  text-decoration: none;
}
.pfe-back:before {
  content: "";
  display: block;
  width: 11px;
  height: 10px;
  background: url(../img/svg/arrow-left.svg) center no-repeat;
  background-size: 11px 10px;
  margin-right: 6px;
}
.pfe-text-right {
  text-align: right;
}
.pfe-alert {
  padding: 20px;
  border-radius: 8px;
  position: relative;
}
.pfe-alert #errorMessage {
  display: flex;
  align-items: center;
}
.pfe-alert--primary {
  background: linear-gradient(90deg, #ffdbe8 0, #fff1cd 100%), #fff;
}
.pfe-alert--secondary {
  background: linear-gradient(90deg, #dde9ff 0, #f6d5ff 100%);
}
.pfe-alert--thirdy {
  background: linear-gradient(90deg, #f8fff0 0, #fffdec 100%);
}
.pfe-alert--no-padd-side {
  padding: 20px 0;
}
.pfe-alert--flex-center {
  display: flex;
  align-items: center;
}
.pfe-alert--column {
  flex-direction: column;
}
.pfe-alert__icon {
  max-width: 48px;
  display: block;
  margin-bottom: 16px;
  margin-top: 12px;
}
.pfe-alert__big-title {
  font-size: 22px;
  line-height: 1.5;
  font-weight: 700;
}
.pfe-alert__divider {
  width: 100%;
  flex: 0 0 100%;
  max-width: 100%;
  border-bottom: 1px solid #e9ebf1;
  margin: 30px 0 10px;
}
.pfe-alert--mb-16 {
  margin-bottom: 16px;
}
.pfe-alert.alert-status--error p {
  margin-bottom: 0;
}
.pfe-alert.alert-status--error .pfe-button {
  margin-top: 10px;
}
.pfe-alert--loading .pfe-alert__title:after {
  content: "";
  display: inline-block;
  background: url(../img/svg/loading.svg) center no-repeat;
  background-size: 18px 18px;
  width: 18px;
  height: 18px;
  margin-left: 10px;
  -webkit-animation: rotating 5s infinite linear;
  animation: rotating 5s infinite linear;
  position: relative;
  top: 3px;
}
.pfe-alert h3,
.pfe-alert__title {
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
  color: #263238;
  margin-bottom: 0;
}
.pfe-alert h3--small,
.pfe-alert__title--small {
  font-size: 14px;
  margin-top: 14px;
}
.pfe-alert h3--center,
.pfe-alert__title--center {
  text-align: center;
}
.pfe-alert h3 img,
.pfe-alert__title img {
  position: relative;
  top: 3px;
}
.pfe-alert h3.mr-10,
.pfe-alert__title.mr-10 {
  margin-right: -10px;
}
.pfe-alert h3,
.pfe-alert h3:after {
  display: inline-block;
  position: relative;
}
.pfe-alert h3 {
  padding-right: 20px;
  margin-top: 0;
}
.pfe-alert h3:after {
  background: url(../img/emodji-flushed.png) center no-repeat;
  content: "";
  width: 20px;
  height: 20px;
  top: 4px;
  right: -5px;
}
.pfe-alert p,
.pfe-alert__text {
  font-size: 13px;
  line-height: 1.5;
  font-weight: 400;
  color: #263238;
  margin-top: 10px;
  margin-bottom: 10px;
}
.pfe-alert p:first-child,
.pfe-alert__text:first-child {
  margin-top: 0;
}
.pfe-alert p:last-child,
.pfe-alert__text:last-child {
  margin-bottom: 0;
}
.pfe-alert p a,
.pfe-alert__text a {
  text-decoration: none;
  color: #7d62ec;
}
.pfe-alert p--center,
.pfe-alert__text--center {
  text-align: center;
}
.pfe-alert__list {
  margin-bottom: 10px;
  padding-left: 0;
  list-style: none;
  margin-top: 8px;
}
.pfe-alert__list li,
.pfe-alert__list-item {
  font-weight: 500;
  padding-left: 10px;
  position: relative;
}
.pfe-alert__list li:before,
.pfe-alert__list-item:before {
  content: "";
  background-color: #755ddf;
  width: 4px;
  height: 4px;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  top: 8px;
  left: 0;
}
.pfe-alert__list li.no-dot,
.pfe-alert__list-item.no-dot {
  padding-left: 0;
}
.pfe-alert__list li.no-dot:before,
.pfe-alert__list-item.no-dot:before {
  display: none;
}
.pfe-alert__list li,
.pfe-alert__list li.no-dot a,
.pfe-alert__list-item,
.pfe-alert__list-item.no-dot a {
  color: #755ddf;
  font-size: 13px;
  line-height: 1.5;
}
.pfe-alert__list li.no-dot a:active,
.pfe-alert__list li.no-dot a:focus,
.pfe-alert__list li.no-dot a:visited,
.pfe-alert__list-item.no-dot a:active,
.pfe-alert__list-item.no-dot a:focus,
.pfe-alert__list-item.no-dot a:visited {
  color: #755ddf;
}
.pfe-alert__toggle {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 16px;
  right: 20px;
  cursor: pointer;
  transition: all 0.15s;
}
.pfe-alert__toggle:after,
.pfe-alert__toggle:before {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  position: absolute;
  background: url(../img/svg/left-down-arrow.svg) left bottom no-repeat;
  transition: all 0.15s;
}
.pfe-alert__toggle:before {
  right: 0;
  top: 0;
  transform: scale(1);
}
.pfe-alert__toggle:after {
  left: 0;
  bottom: 0;
  transform: scale(-1);
}
.pfe-alert__toggle.closed:before {
  right: 4px;
  top: 4px;
  transform: scale(-1);
}
.pfe-alert__toggle.closed:after {
  left: 4px;
  bottom: 4px;
  transform: scale(1);
}
.pfe-alert.all-next-hidden ~ * {
  display: none !important;
}
.pfe-profile {
  display: flex;
  overflow: visible;
}
.pfe-profile__data {
  max-width: 340px;
}
.pfe-profile__data p {
  margin-bottom: 0;
}
.pfe-profile__img {
  margin-right: 10px;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  flex: 0 0 60px;
  overflow: hidden;
  position: relative;
  left: -5px;
}
.pfe-profile__img img {
  max-width: 100%;
  max-height: 100%;
}
.pfe-profile__name {
  display: block;
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
  color: #263238;
  transition: all 0.15s;
}
.pfe-profile__name[href]:hover {
  color: #7d64e9;
  cursor: pointer;
}
.pfe-profile__name[href] img {
  display: inline-block;
  margin-left: 18px;
  vertical-align: middle;
}
.pfe-profile__name:hover {
  color: #263238;
}
.pfe-profile__name img,
.pfe-select__dropdown-item input[type="radio"],
.pfe__radio-select-panel > label input[type="radio"] {
  display: none;
}
.pfe-profile__company {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 12px;
  color: #666;
}
.pfe-profile__list {
  position: relative;
  max-width: 100%;
  display: flex;
  margin-top: 10px;
}
.pfe-profile__list a,
.pfe-profile__list span {
  text-decoration: none;
  color: #4f5456;
  background: #eff2f8;
  border-radius: 8px;
  text-align: center;
  padding: 4px 10px 5px;
  font-size: 12px;
  line-height: 15px;
  font-weight: 500;
  margin-right: 5px;
  margin-bottom: 5px;
  max-width: 290px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre;
  display: block;
}
.pfe-profile__list a:hover,
.pfe-profile__list span:hover {
  cursor: pointer;
  text-decoration: underline;
}
.pfe-profile__list-not-fit {
  position: relative;
}
.pfe-profile__list-not-fit:hover .pfe-profile__list-dropdown {
  display: flex;
}
.pfe-profile__list-dropdown {
  position: absolute;
  top: 28px;
  right: 0;
  min-width: 210px;
  padding: 5px 15px 0;
  background: #fff;
  border: 1px solid #dbdde2;
  border-radius: 8px;
  display: none;
  align-items: flex-start;
  flex-direction: column;
  z-index: 10;
}
.pfe-profile__list-dropdown a {
  font-size: 14px;
  line-height: 1.5;
  padding: 0;
  margin-bottom: 5px;
  background-color: transparent;
}
.pfe-profile__email {
  font-size: 14px;
  line-height: 1.4;
  font-weight: 400;
  color: #666;
  margin-bottom: 10px;
}
.pfe-profile__email-item {
  display: flex;
  align-items: center;
}
.pfe-profile__email-item--valid:before {
  content: "";
  display: inline-block;
  width: 9px;
  height: 9px;
  margin-right: 6px;
  border-radius: 50%;
  background-color: #8cd622;
}
.pfe-profile__email-item--empty {
  color: #656e77;
}
.pfe-profile__email-item--empty:before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 4px;
  border-radius: 50%;
  background: url(../img/svg/info.svg) center no-repeat;
}
.pfe-profile__email-copy {
  width: 14px;
  height: 16px;
  background: url(../img/svg/copy.svg) center no-repeat;
  background-size: 14px 16px;
  margin-left: 5px;
  cursor: pointer;
  transition: all 0.15s;
}
.pfe-profile__email-copy:hover {
  background: url(../img/svg/copy-hover.svg) center no-repeat;
  background-size: 14px 16px;
}
.pfe-profile__address {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 1;
  font-weight: 400;
  margin-bottom: 12px;
  color: #263238;
}
.pfe-profile__address.icon-map:before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 14px;
  margin-right: 5px;
  background: url(../img/svg/location.svg) center no-repeat;
  background-size: 10px 14px;
  vertical-align: middle;
  position: relative;
  top: -1px;
}
.pfe-icon {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  margin-right: 14px;
  flex: 0 0 28px;
}
.pfe-icon--success {
  background: #e3f9d5 url(../img/svg/check.svg) center no-repeat;
}
.pfe-icon--warning {
  background: #ffd1d1 url(../img/svg/alert.svg) center no-repeat;
}
.pfe-select {
  width: 100%;
  position: relative;
  z-index: 3;
}
.pfe-select.mxw-75 {
  max-width: 75%;
}
.pfe-select.mxw-63 {
  max-width: 63%;
}
.pfe-select.mxw-53 {
  max-width: 53%;
}
.pfe-select__selected,
.pfe-select__static {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
}
.pfe-select__selected {
  max-height: 20px;
  overflow: hidden;
  display: block;
}
.pfe-select__static {
  background: #fff;
  border: 1px solid #dcddde;
  border-radius: 8px;
  width: 100%;
  padding: 10px 15px 11px;
  height: 42px;
  position: relative;
  cursor: pointer;
  outline: 0;
}
.pfe-select__static:before {
  content: "";
  display: block;
  position: absolute;
  width: 90px;
  height: 39px;
  top: 1px;
  right: 1px;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0, #fff 30%);
  z-index: 1;
  border-radius: 10px;
}
.pfe-select__static:after {
  content: "";
  display: block;
  position: absolute;
  width: 10px;
  height: 6px;
  top: 18px;
  right: 15px;
  background: url(../img/svg/arrow-down.svg) center no-repeat;
  z-index: 2;
}
.pfe-select__dropdown-item span,
.pfe-select__static option {
  padding: 7px 35px 7px 16px;
  font-size: 14px;
  line-height: 1.5;
  position: relative;
  background: #fff;
  transition: all 0.15s;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre;
}
.pfe-select__static--disabled {
  background-color: #eff2f8;
}
.pfe-select__static--disabled:before {
  background: linear-gradient(90deg, rgba(239, 242, 248, 0) 0, #eff2f8 30%);
}
.pfe-select__refresh {
  position: absolute;
  top: 5px;
  right: 35px;
  width: 30px;
  height: 30px;
  background: url(../img/svg/refresh.svg) center no-repeat;
  cursor: pointer;
  opacity: 1;
  transition: all 0.15s;
  z-index: 3;
}
.pfe-select__refresh:hover {
  opacity: 0.8;
}
.pfe-select__dropdown {
  background: #fff;
  border: 1px solid #dbdde2;
  border-radius: 8px;
  position: absolute;
  bottom: 44px;
  left: 0;
  right: 0;
  padding: 7px 5px 0 0;
  overflow: hidden;
}
.pfe-select__dropdown-item {
  display: block;
  width: 100%;
  transition: background-color 0.2s;
}
.pfe-select__dropdown-item:hover span {
  background-color: #f6f8fd;
}
.pfe-select__dropdown-item span {
  font-weight: 400;
  width: 100%;
  display: block;
}
.pfe-select__dropdown-item input[type="radio"]:checked + span:after {
  content: "";
  display: block;
  width: 12px;
  height: 9px;
  position: absolute;
  top: 13px;
  right: 20px;
  background: url(../img/svg/check-blue.svg) center no-repeat;
  background-size: 12px 9px;
}
.pfe-select__dropdown-container {
  max-height: 150px;
  overflow: auto;
}
.pfe-select__dropdown-divider {
  height: 1px;
  background: #e5e5e5;
  width: 100%;
  margin-top: 3px;
  margin-bottom: 5px;
}
.pfe-select__create-list-button {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  padding: 7px 16px;
  display: flex;
  align-items: center;
  transition: all 0.15s;
  background: #fff;
  cursor: pointer;
  text-decoration: none;
}
.pfe-select__create-list-button:hover {
  background: #f6f8fd;
  text-decoration: none;
}
.pfe-select__create-list-button:active,
.pfe-select__create-list-button:focus {
  text-decoration: none;
}
.pfe-select__create-list-button:before {
  content: "";
  display: block;
  margin-right: 12px;
  width: 12px;
  height: 12px;
  background: url(../img/svg/plus.svg) center no-repeat;
  background-size: 12px 12px;
}
.pfe-select__create-list-input {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  border: 1px solid #717e84;
  border-radius: 8px;
  background: #fff;
  padding: 9px 30px 10px 14px;
  z-index: 4;
  transition: all 0.2s;
}
.pfe-select__create-list-input.has-error {
  border-color: #f22e46;
}
.pfe-select__create-list-input input {
  border: 0;
  outline: 0;
  font-size: 14px;
  line-height: 1.5;
  max-width: 100%;
  width: 96%;
  background-color: transparent;
}
.pfe-select__create-list-input-close {
  width: 30px;
  height: 30px;
  cursor: pointer;
  background: url(../img/svg/close.svg) center no-repeat;
  background-size: 16px 16px;
  position: absolute;
  top: 5px;
  right: 5px;
  opacity: 1;
  transition: opacity 0.15s;
}
.counter-input .valueDown:hover,
.counter-input .valueUp:hover,
.pfe-select__create-list-input-close:hover {
  opacity: 0.8;
}
.pfe-scroll::-webkit-scrollbar {
  width: 5px;
}
.pfe-scroll::-webkit-scrollbar-track {
  background-color: #f6f8fd;
}
.pfe-scroll::-webkit-scrollbar-thumb {
  background: #dee1e3;
  border-radius: 3px;
}
.pfe__radio-select-panel {
  display: flex;
  justify-content: space-between;
  min-height: 32px;
  border: 1px solid #dbdedf;
  border-radius: 8px;
  margin-top: 15px;
  margin-bottom: 18px;
}
.pfe__radio-select-panel > label {
  display: block;
  text-align: center;
  box-shadow: 0 1px 2px rgba(31, 40, 44, 0.08);
  border-right: 1px solid #dbdedf;
  width: 50%;
  margin-bottom: 0;
}
.pfe__radio-select-panel > label:last-child {
  border-right: none;
}
.pfe__radio-select-panel > label input[type="radio"]:checked + span {
  background: #eceef3;
  box-shadow: inset 0 3px 3px rgba(171, 179, 187, 0.5);
  cursor: default;
  height: 100%;
}
.pfe__radio-select-panel > label input[type="radio"]:disabled + span {
  cursor: wait;
}
.pfe__radio-select-panel > label span {
  color: #212121;
  display: block;
  text-align: center;
  font-weight: 400;
  padding: 10px 15px;
  cursor: pointer;
}
.pfe__radio-select-panel > label span.size-small {
  padding: 5px 15px;
}
.pfe__radio-select-panel > label span.allow-center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.pfe__go-back {
  display: flex;
  align-items: center;
  transition: all 0.15s;
}
.pfe__go-back img {
  margin-right: 8px;
  display: block;
}
.pfe__go-back span {
  color: #6a4fe1;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
}
.pfe__go-back:hover {
  opacity: 0.7;
  cursor: pointer;
}
.counter-input {
  position: relative;
  width: 125px;
  margin-bottom: 0;
  margin-top: 8px;
}
.counter-input input {
  width: 100px;
  height: 42px;
  padding: 8px 12px;
  background: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 8px;
  outline: 0;
}
.counter-input input::-webkit-inner-spin-button,
.counter-input input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.counter-input .valueDown,
.counter-input .valueUp {
  width: 19px;
  height: 19px;
  border-radius: 5px;
  position: absolute;
  right: 2px;
  background: #eceef3 url(../img/svg/arrow-down.svg) center no-repeat;
  transition: opacity 0.15s;
  cursor: pointer;
}
.counter-input .valueDown {
  bottom: 0;
}
.counter-input .valueUp {
  top: 0;
  transform: scaleY(-1);
}
.show-for-emails {
  margin-top: 20px;
}
.host-empty-template .pfe-title {
  text-align: center;
  font-size: 22px;
  margin-bottom: 28px;
}
.link-list__item {
  background: linear-gradient(90deg, #f8fff0 0, #fffdec 100%);
  border-radius: 8px;
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  min-height: 92px;
  padding: 10px 24px;
  position: relative;
}
.link-list__item:last-child {
  margin-bottom: 0;
}
.link-list__item.with-hover:hover {
  border: 2px solid #d6e4c1;
  padding: 8px 30px 8px 22px;
}
.link-list__item.with-hover:hover:after {
  position: absolute;
  content: "";
  width: 24px;
  height: 24px;
  top: calc(38%);
  right: 8px;
  background: url(../img/svg/arrow-corner-blue.svg) center no-repeat;
}
.link-list__item--small {
  padding: 11px 16px;
  min-height: 60px;
}
.link-list__item--small .link-list__img {
  width: 38px;
  height: 38px;
  flex: 0 0 38px;
  margin-right: 18px;
}
.link-list__content p.link-list__text,
.link-list__item--small .link-list__content p {
  font-size: 14px;
  font-weight: 500;
}
.link-list a.link-list__item:active,
.link-list a.link-list__item:focus,
.link-list a.link-list__item:hover {
  text-decoration: none;
  cursor: pointer;
}
.link-list__img {
  width: 54px;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 18px;
  flex: 0 0 54px;
  max-width: 54px;
}
.link-list__img img {
  max-width: 100%;
  display: block;
}
.link-list__head {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.5;
  color: #263238;
  margin-bottom: 20px;
  text-align: center;
}
.link-list__title {
  font-size: 14px;
  font-weight: 700;
  min-width: 76px;
  flex: 0 0 76px;
}
.link-list__content h4 {
  margin: 0;
  font-size: 14px;
  line-height: 2;
  color: #263238;
  font-weight: 700;
}
.link-list__content p {
  margin: 0;
  font-size: 13px;
  font-weight: 400;
  color: #263238;
}
.company-info {
  background: linear-gradient(90deg, #f8fff0 0, #fffdec 100%);
  border-radius: 8px;
  min-height: 48px;
  display: flex;
  align-items: center;
  padding: 8px 20px;
  position: relative;
}
.company-info.closed .company-logo-container {
  width: 32px;
  height: 32px;
}
.company-info.closed .company-founded,
.company-info.closed .company-industry,
.company-info.closed .company-location,
.company-info.closed .company-size,
.person-found__list-item.no-credits .person-found__list-tag span,
.person-found__list-item.no-credits .person-found__list-tag > a,
.person-found__list-item.saved.saved__already .person-found__list-tag:after,
.tab-content > .active.in + .active.in {
  display: none;
}
.company-info.not-allowed .pfe-alert__toggle,
.company-info.not-allowed .social-link {
  cursor: not-allowed;
}
.company-logo {
  max-width: 100%;
}
.company-logo-container {
  width: 60px;
  height: 60px;
  border: 1px solid #cee9b0;
  border-radius: 50%;
  margin-right: 10px;
  overflow: hidden;
  transition: all 0.15s;
}
.company-name {
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
  display: inline-block;
  cursor: pointer;
}
.company-name__container {
  display: flex;
  align-items: center;
}
.company-name__container a img,
.company-name__container span,
.empty-results__icon img,
.progress-balance:hover .progress-bar + span,
header:hover ~ .progress-balance .progress-bar + span {
  display: block;
}
.company-name__container a {
  display: block;
  margin-left: 4px;
}
.company-content {
  max-width: 290px;
}
.company-industry {
  font-size: 14px;
  line-height: 1;
  color: #666;
  margin-top: 9px;
}
.company-founded,
.company-location,
.company-size {
  font-size: 14px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  margin-bottom: 3px;
}
.company-founded:before,
.company-location:before,
.company-size:before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin-right: 7px;
}
.company-location {
  margin-top: 12px;
}
.company-location:before {
  background-image: url(../img/svg/location.svg);
}
.company-size:before {
  background-image: url(../img/svg/guests.svg);
}
.company-founded:before {
  background-image: url(../img/svg/flag.svg);
}
.empty-results {
  background: linear-gradient(90deg, #ecf2ff 0, #ebe7ff 100%), #fff;
  border-radius: 8px;
  padding: 20px;
  display: flex;
  align-items: center;
}
.empty-results__icon {
  margin-right: 14px;
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #cdc6ff;
  flex: 0 0 28px;
  min-width: 28px;
}
.empty-results h4 {
  font-size: 16px;
  line-height: 1.2;
  margin-bottom: 8px;
  font-weight: 700;
  margin-top: 0;
}
.empty-results p {
  font-size: 13px;
  line-height: 1.5;
  font-weight: 400;
}
.prospect-data {
  margin-bottom: 16px;
}
.prospect-data h4 {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.5;
  margin: 0;
  color: #192435;
}
.hint-block h3,
.prospect-data span {
  font-size: 13px;
  line-height: 1.5;
  color: #666;
}
.label-version {
  position: absolute;
  top: 5px;
  right: 25px;
  font-weight: 500;
  font-size: 10px;
  line-height: 1;
  color: #909090;
}
.person-found__head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 19px;
}
.person-found__next {
  font-size: 13px;
  line-height: 1;
  color: #7d63ec;
  font-weight: 500;
}
.person-found__next:after {
  content: "";
  display: inline-block;
  width: 11px;
  height: 10px;
  margin-left: 7px;
  background: url(../img/svg/arrow-right.svg) center no-repeat;
  background-size: 11px 10px;
  vertical-align: middle;
}
.person-found__list {
  margin-top: 25px;
  margin-right: -15px;
  padding-right: 13px;
  margin-bottom: -24px;
  max-height: 305px;
  overflow: auto;
}
.person-found__list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 4px;
  padding: 5px 0;
  position: relative;
  transition: padding-left 0.2s;
}
.person-found__list-item .js-contact-avatar {
  margin-left: 3px;
  margin-right: 10px;
}
.person-found__list-item .js-contact-avatar--rounded {
  border-radius: 50%;
  overflow: hidden;
}
.person-found__list-item .js-contact-avatar img {
  width: 24px;
  height: 24px;
  display: block;
}
.person-found__list-item .js-contact-name {
  max-width: 200px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: inline-block;
}
.person-found__list-item.processing .person-found__list-tag:after {
  content: "";
  display: inline-block;
  background: #fff url(../img/svg/loading.svg) center no-repeat;
  background-size: 14px 14px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-left: 5px;
  -webkit-animation: rotating 5s infinite linear;
  animation: rotating 5s infinite linear;
}
.person-found__list-item.saved .person-found__list-tag:after {
  content: "";
  display: inline-block;
  background: #fff url(../img/svg/check.svg) center no-repeat;
  background-size: 14px 14px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-left: 5px;
}
.person-found__list-item.error .person-found__list-tag:after {
  content: "__MSG_css_savingError__";
  color: red;
  display: inline-block;
  height: 18px;
  margin-left: 10px;
  position: relative;
  top: 0;
  right: 0;
  font-size: 13px;
  line-height: 1.2;
}
.person-found__list-item.no-credits .person-found__list-tag:after,
.person-found__list-item.unsavable .person-found__list-tag:after {
  content: "__MSG_css_unsavable__";
  color: red;
  display: inline-block;
  height: 18px;
  margin-left: 10px;
  position: relative;
  top: 0;
  right: 0;
}
.person-found__list-item.no-credits {
  background-color: #ffecec;
  margin: 0 0 4px;
  padding: 5px 0 5px 3px;
  border-radius: 4px;
}
.person-found__list-item.no-credits .person-found__list-tag:after {
  content: "__MSG_css_no_credits__";
  color: #eb3a3a;
  right: 22px;
  font-size: 13px;
  line-height: 1.2;
  min-width: 65px;
}
.person-found__list-item.no-credits.saved__already
  .person-found__list-tag:after {
  display: block;
  background: 0 0;
}
.person-found__list-tag {
  display: flex;
  align-items: center;
  min-height: 24px;
}
.person-found__list-tag .add-to-list-email,
.person-found__list-tag .add-to-list-prospect {
  color: #7d62ec;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 13px;
  line-height: 120%;
}
.person-found__list-tag .add-to-list-email img,
.person-found__list-tag .add-to-list-prospect img {
  margin-right: 10px;
}
.person-found__list-tag a,
.person-found__list-tag span {
  text-decoration: none;
  background: #eff2f8;
  border-radius: 8px;
  padding: 5px 10px;
  display: block;
  margin-left: 8px;
  color: #4f5456;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  max-width: 140px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre;
}
.person-found__list-tag a.count,
.person-found__list-tag span.count {
  background: #fff;
  padding: 5px 0;
}
.person-found__list-tag a:hover,
.person-found__list-tag span:hover {
  text-decoration: underline;
}
.people-list {
  margin-right: -15px;
  padding-right: 10px;
  max-height: 375px;
  overflow: auto;
}
.people-list--small {
  max-height: 195px;
}
.select-all__google {
  margin-bottom: 30px;
}
.d--flex-center,
.found-result__body {
  display: flex;
  align-items: center;
}
.found-result__body {
  padding: 10px 0 10px 22px;
  background: linear-gradient(90deg, #f8fff0 0, #fffdec 100%);
  border-radius: 8px;
  overflow: hidden;
  justify-content: space-between;
}
.found-result__body img {
  width: 130px;
}
.found-result__text #label1 h3,
.hint-block button {
  font-size: 18px;
  line-height: 1.2;
  font-weight: 700;
}
.found-result__text #label1 span {
  font-size: 38px;
  line-height: 1.3;
  display: block;
  margin-bottom: 8px;
  font-weight: 700;
}
.found-result__text p,
.found-result__text span {
  font-size: 14px;
  line-height: 1.5;
  font-weight: 500;
  margin-bottom: 0;
}
.custom-radio {
  position: relative;
}
.hint-block {
  position: absolute;
  top: 66px;
  background: #7d62ec;
  border: 3px solid #7d62ec;
  box-shadow: 0 5px 12px rgba(44, 63, 77, 0.1);
  border-radius: 7px;
  width: 300px;
  padding: 18px;
  text-align: left;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.hint-block h3 {
  color: #fff;
  font-size: 16px;
  margin-bottom: 4px;
}
.hint-block p {
  color: #fff;
  font-size: 13px;
  margin-bottom: 16px;
}
.hint-block button {
  padding: 6px 12px;
  background: #fff;
  border-radius: 3px;
  outline: 0;
  color: #7d63ec;
  font-size: 11px;
  align-self: flex-end;
  border: 0;
  display: block;
  text-transform: uppercase;
}
.hint-block.left-position {
  left: -1px;
}
.hint-block.left-position:before {
  position: absolute;
  content: "";
  display: block;
  width: 2px;
  height: 27px;
  border-radius: 50%;
  background: #4c505e;
  opacity: 0.5;
  top: -30px;
  left: 20px;
  z-index: 1;
}
.hint-block.left-position:after {
  width: 6px;
  height: 6px;
  top: -32px;
  left: 18px;
}
.hint-block.right-position {
  right: 0;
}
.hint-block.left-position:after,
.hint-block.right-position:after,
.hint-block.right-position:before {
  position: absolute;
  content: "";
  display: block;
  border-radius: 50%;
  background: #4c505e;
  z-index: 1;
}
.hint-block.right-position:before {
  width: 2px;
  height: 27px;
  opacity: 0.5;
  top: -30px;
  right: 20px;
}
.hint-block.right-position:after {
  width: 6px;
  height: 6px;
  top: -32px;
  right: 18px;
}
.footer-offset-top {
  margin-top: 50px;
}
.view-all-results-link {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 12px;
  min-width: 214px;
  text-align: center;
}
.view-all-results-link-static {
  position: static;
  display: flex;
  width: fit-content;
  margin: 0 auto;
  transform: unset;
}
.free-plan {
  padding: 0 29px 24px 24px;
}
.free-plan .pfe-alert__text {
  margin-bottom: 0;
}
#dropdownListContainer {
  max-width: 280px;
  min-width: 280px;
}
#dropdownListContainerGoogle {
  max-width: 260px;
  min-width: 260px;
}
.main-header .btn-success {
  position: absolute;
  right: 20px;
  top: -5px;
}
.progress-balance {
  margin-bottom: 0;
  position: relative;
  box-shadow: none;
  height: 4px;
  border-radius: 0;
  transition: all 120ms ease-in-out 60ms;
}
.progress-balance .progress-bar {
  box-shadow: none;
  background-color: #0de59b;
}
.progress-balance .progress-bar + span {
  position: absolute;
  display: none;
  width: 100%;
  text-align: center;
  left: 0;
  font-size: 13px;
}
.progress-balance .progress-bar-warning {
  background-color: #ffaa0e;
}
.progress-balance .progress-bar-danger {
  background-color: #f93865 !important;
}
.progress-balance:hover,
header:hover ~ .progress-balance {
  height: 18px;
}
.header__container {
  justify-content: space-between;
  padding: 22px 24px 18px;
}
.header__container,
.header__content {
  display: flex;
  align-items: center;
}
.header__content > * {
  margin-left: 4px;
}
.header__content-link {
  cursor: pointer;
  display: flex;
  align-items: center;
  color: #4f5456;
}
.header__content-link.sign-up {
  padding: 3px 8px;
  color: #7d62ec;
  font-weight: 400;
  font-size: 13px;
  margin-left: 8px;
  margin-right: 6px;
}
.header__content-link span {
  display: block;
  margin-left: 7px;
  font-weight: 400;
  color: #fff;
}
.header__content-link:active,
.header__content-link:hover {
  text-decoration: none;
  color: #4f5456;
}
.header__content img {
  display: block;
}
.header__content svg {
  width: 18px;
  height: 18px;
  fill: #000;
}
.header__content svg path {
  fill: red;
}
p {
  margin-bottom: 10px;
}
a,
a:hover {
  text-decoration: none;
}
.hidden {
  display: none !important;
}
.main-body.pb-0 {
  padding-bottom: 0;
}
.main-body.mb-16 {
  margin-bottom: 16px;
}
.main-body.pb-60 {
  padding-bottom: 60px;
}
.main-body .hidden-domain,
.main-footer.form-inline {
  display: flex;
  align-items: center;
}
.relative {
  position: relative;
}
.prop-name {
  text-transform: lowercase;
}
.mt-0 {
  margin-top: 0 !important;
}
.mb-0 {
  margin-bottom: 0 !important;
}
.mt-5 {
  margin-top: 5px !important;
}
.mt-15 {
  margin-top: 15px !important;
}
.mb-5 {
  margin-bottom: 5px !important;
}
.mb-15 {
  margin-bottom: 15px !important;
}
.mb-24 {
  margin-bottom: 24px !important;
}
.scroll-y {
  overflow-y: scroll;
}
.minh-300 {
  min-height: 300px;
}
.main-footer {
  padding: 10px 20px;
  background-color: #fff;
}
.main-footer.form-inline {
  align-content: stretch;
}
.main-footer.form-inline .form-group {
  margin-bottom: 0;
  flex: 1;
}
.main-footer.form-inline .form-group:last-child {
  margin-left: 15px;
}
.contacts-table {
  max-height: 345px;
  transition: max-height 0.2s;
}
.contacts-table > .list-item {
  position: relative;
  margin-bottom: 20px;
}
.contacts-table > .list-item > .custom-checkbox {
  padding-left: 26px;
  cursor: pointer;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-bottom: 0;
  margin-top: 0;
}
.contacts-table > .list-item > .custom-checkbox:hover {
  background-color: #fff;
  box-shadow: -20px 0 0 #fff, 20px 0 0 #fff;
}
.contacts-table > .list-item > .custom-checkbox input[type="checkbox"] {
  left: 4px;
  top: 2px;
}
.contacts-table > .list-item > .custom-checkbox > span {
  display: inline-block;
}
.contacts-table .contact-avatar {
  display: inline-block;
  background-color: #dad9e8;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  overflow: hidden;
  vertical-align: middle;
  margin-left: 5px;
  position: relative;
  top: 0;
}
.contacts-table .contact-avatar img {
  width: 26px;
  height: 26px;
}
.contacts-table .list-item__company .contact-avatar {
  border-radius: 2px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05);
}
.contacts-table .list-item__email .contact-name {
  font-weight: 400;
}
.contacts-table .prospect-item {
  margin: 0 0 6px;
}
.contacts-table .prospect-item .prospect-info span {
  display: block;
}
.contacts-table .prospect-item .prospect-info__social {
  display: flex;
}
.contacts-table .prospect-item .prospect-info__name {
  width: 220px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.contacts-table .prospect-item .prospect-info__profession {
  margin-right: 6px;
  width: 154px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.contacts-table .list-item__select-all {
  margin-bottom: 10px;
  margin-top: -2px;
}
.contacts-table .list-item__select-all label {
  font-weight: 400;
  color: rgba(38, 50, 56, 0.8);
}
.contacts-table .list-item__select-all input[type="checkbox"] {
  top: 0 !important;
  margin-right: 20px;
}
.contacts-table .contact-name {
  margin-left: 5px;
  width: calc(100vw - 220px);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #666;
}
.contacts-table .status-label {
  width: 10px;
  height: 10px;
  background: #ccc;
  border: 2px solid #ccc;
  display: inline-block;
  border-radius: 50%;
}
.contacts-table .status-label.status-ok {
  background-color: #45dea0;
  border-color: #45dea0;
}
.contacts-table .status-label.status-outline {
  background-color: #fff;
}
.contacts-table .status-label[data-toggle] {
  cursor: pointer;
}
.contacts-table .saved {
  opacity: 0.5;
  pointer-events: auto;
}
.contacts-table .saved.saved__already {
  pointer-events: auto;
  opacity: 1;
}
.contacts-table .saved.saved__already .contact-name {
  width: calc(100vw - 180px - 30px - 20px - 20px);
}
.contacts-table .saved.saved__already .prospect-info,
.contacts-table .saved.saved__already input ~ span {
  opacity: 0.5;
}
.contacts-table .saved.saved__already input:checked ~ .prospect-info,
.contacts-table .saved.saved__already input:checked ~ span {
  opacity: 1;
}
.contacts-table .contact-saved-list {
  position: absolute;
  right: 0;
  top: 1px;
  font-size: 12px;
  line-height: 14px;
  display: inline-block;
  padding: 5px 8px;
  background: #eff2f8;
  border-radius: 8px;
  color: #4f5456;
  max-width: 95px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  opacity: 1 !important;
  font-weight: 500;
}
.contacts-table .contact-saved-list:empty {
  display: none !important;
}
.contacts-table .contact-saved-list a,
.contacts-table .contact-saved-list a:active,
.contacts-table .contact-saved-list a:hover,
.contacts-table .contact-saved-list a:visited {
  color: #4f5456;
}
.contacts-table .alert-info {
  background-color: #fff;
  border-color: #fafafa;
  margin-bottom: 10px;
}
.person-body .saved {
  opacity: 1;
}
.tablist {
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  top: -8px;
}
.tablist > li > a {
  border-radius: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-right: 15px;
}
.tablist > li > a:hover {
  background-color: transparent;
}
.tablist > li > a > span {
  font-size: 13px;
  margin-left: 2px;
  color: #dad9e8;
}
.tablist > li > a > span:empty {
  display: none;
}
.tablist > li.active > a,
.tablist > li.active > a:focus,
.tablist > li.active > a:hover {
  color: #000;
  background-color: #fff;
  box-shadow: inset 0 -4px 0 rgba(69, 222, 160, 0.5);
}
.loader {
  display: block;
  width: 36px;
  margin: 20px auto;
}
#prospects-from {
  font-size: 14px;
  font-weight: 400;
}
#btn-show-all {
  font-size: 13px;
}
.main-body {
  padding: 0 24px 24px;
  background-color: #fff;
}
.main-body .alert-status,
.main-body[data-status="find"] > *,
.main-body[data-status="no_login"] > *,
.main-body[data-status="warning"] > * {
  display: none;
}
.main-body[data-status="find"] .alert-status--find {
  display: block;
  margin-bottom: 0;
}
.main-body[data-status="already-saved"] .alert-status--already-saved,
.main-body[data-status="found"] .alert-status--found,
.main-body[data-status="saving"] .alert-status--saving {
  display: block;
}
.main-body[data-status="no_login"] .alert-status--no_login {
  display: block;
  margin-bottom: 8px;
}
.main-body[data-status="no_login"] .show-when-no-login,
.main-body[data-status="processing"] .pfe-profile--loading .pfe-profile__name {
  display: flex;
}
.main-body[data-status="warning"] .alert-status--warning {
  display: block;
  margin-bottom: 0;
}
.main-body[data-status="error"] .alert-status--error,
.main-body[data-status="processing"] .alert-status--processing,
.main-body[data-status="saved"] .alert-status--saved,
.main-body[data-status="warning"].host-empty-template > * {
  display: block;
}
.main-body[data-status="processing"]
  .pfe-profile--loading
  .pfe-profile__name
  img {
  margin-left: 18px;
}
.main-body[data-status="processing"]
  .pfe-profile--loading
  .pfe-profile__name:after {
  content: "";
  display: block;
  background: url(../img/svg/loading.svg) center no-repeat;
  background-size: 182px 18px;
  width: 18px;
  height: 18px;
  margin-left: 10px;
  -webkit-animation: rotating 5s infinite linear;
  animation: rotating 5s infinite linear;
}
.footer-body,
.footers-button {
  padding: 12px 25px;
  background: linear-gradient(90deg, #f2f6fd 0, #f6f8fd 100%), #f6f8fd;
}
.footers-button .pfe-button {
  margin-right: 4px;
  max-width: 50%;
  white-space: normal;
}
.footers-button .d--flex-center {
  align-items: normal;
}
.footer-body {
  padding: 12px 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-body a,
.footer-body button {
  margin-left: 8px;
  cursor: pointer;
}
.footer-body a.min-w90,
.footer-body button.min-w90 {
  min-width: 90px;
}
.yelp-company-info {
  background: linear-gradient(90deg, #f8fff0 0, #fffdec 100%);
  border-radius: 8px;
  padding: 20px 20px 24px;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-top: 16px;
}
.yelp-company-info__img {
  width: 140px;
  height: 140px;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
  overflow: hidden;
  display: block;
  margin-bottom: 15px;
}
.yelp-company-info__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
  margin-bottom: 8px;
}
.yelp-company-info__url {
  text-align: center;
  margin-bottom: 12px;
  line-height: 1.4;
  color: #666;
}
.yelp-company-info__address,
.yelp-company-info__phone {
  font-weight: 400;
  font-size: 14px;
  color: #263238;
  line-height: 1.7;
}
.list-item {
  margin-bottom: 20px;
}
.list-item:last-child {
  margin-bottom: 0;
}
